@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  p {
    @apply font-switzer tracking-wide text-stone-200;
  }

  h1 {
    @apply pb-2 text-4xl !leading-tight;
  }

  h2 {
    @apply pt-2 pb-2 text-2xl;
  }

  h3 {
    @apply pb-1 text-lg;
  }

  .prose h2 {
    @apply mt-10
  }

  .prose p {
    @apply font-switzer tracking-wide;
  }

  .btn {
    @apply inline px-4 py-2 mt-2 no-underline uppercase bg-darkpurple drop-shadow-sm;
  }

  .btn:hover {
    @apply bg-darkpurple-light;
  }

  p a,
  .prose p a,
  .links a,
  .alink {
    @apply underline decoration-1 underline-offset-4 transition
  }

  p a:hover, .links a:hover, .alink {
    @apply underline decoration-2 underline-offset-4
  }

  button {
    @apply no-underline
  }

  .caption {
    @apply text-gray-200 mb-8 border-l-2 border-teal-700 pl-2 my-4
  }
}

@layer utilities {
  .bg-gradient {
   /* @apply bg-[radial-gradient(ellipse_at_bottom_left, _var(--tw-gradient-stops))] from-slate-900 via-neutral-900 to-darkpurple */
  }

  .prose h1 a, .prose h2 a, .prose h3 a {
    @apply no-underline
  }

  button {
    @apply !no-underline
  }

  nav .router-link-exact-active, nav .router-link-active {
    @apply text-white bg-zinc-700;
  }

  .article-card {}

  .publishdate {
    @apply leading-5 align-top text-zinc-500;
  }

  .mainborder {
    @apply border-stone-400 border-2 hover:border-stone-200 bg-zinc-900
  }

  .separator {
    @apply bg-stone-100;
    height: 2px;
    margin: 1em 0 0.5em;
  }

}


@font-face {
  font-family: "Work Sans";
  src: url("./assets/fonts/WorkSans-Regular.ttf");
  font-weight: 400;
}


@font-face {
  font-family: "Switzer";
  src: url("./assets/fonts/Switzer-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Work Sans";
  src: url("./assets/fonts/WorkSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Work Sans";
  src: url("./assets/fonts/WorkSans-Bold.ttf");
  font-weight: 700;
}


@font-face {
  font-family: "Wonder Unit Sans Medium";
  src: url("./assets/fonts/WonderUnitSans-Medium.woff2")
}

@font-face {
  font-family: 'Dortmund';
  src: url('/assets/fonts/Dortmund-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

.lart-serif {
  font-family: 'Georgia', serif;
}

nav a {
  text-decoration: none !important;
}

::selection {
  background: #451a35;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #451a35;
  /* Gecko Browsers */
}

:root {
  --tw-gradient-stops: #1f2937, #2d3748;
  --color-darkpurple: #451a35;
}
body {
  min-height: 100vh;
  overflow-y: auto;
  background-image: radial-gradient(at 0% 100%, rgb(15, 23, 42), rgb(23, 23, 23), rgb(69, 26, 53));
  background-color: var(--color-darkpurple);
  background-size: cover;
  background-repeat: no-repeat;
}



body {
  background-color: transparent;
}

/* #heading, #heading2, .about1, .about2, #projects, .blogs, .wholething, #link1, #link2 {visibility: hidden;} */

.prose h1 {margin-bottom: 0px !important;}